.container {
    height: 300px;
    width: 100%;
    display: flex;
    /*display flex is used to initialise container as flex*/
    /*flex properties for container*/
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: row;
    /*flex-direction changes the direction of how items are filled in container, by default flex-direction is row*/
    /*flex-wrap helps us in wrapping up of items if we change size of our container, by default it is nowrap*/
    flex-wrap: wrap;
    /*using flex-flow we can specify both flex direction and wrapping*/
    flex-flow: row wrap;
    /*justify content is used to align our items*/
    justify-content: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    /*justify content could be center, flex-start, flex-end, space-between(space between item is same),space around(space around items is same),space-evenly(spaces including starting and end is same) etc*/

    /*align items is used to align the items*/
    align-items: flex-end;
    /*flex end pushes elements at the end*/
    align-items: center;
    /*center makes the items vertically center in container*/
}

.box {
    width: 150px;
    height: 200px;
    color: rgb(49, 43, 43);
    font-weight: bolder;
    margin: 8px;
    padding: 10px;
}

/*flexbox properties in case of item*/
#item1 {
    /*increasing the value of order will shift position of element to last, elements with bigger order will be at the end*/
    /* order: 4; */
    /* flex-grow: 3; */
    flex-direction: column;
    /*flex-grow will change the size of box and grow it multiple times, negative number are invalid*/

}

#item2 {
    
    flex-direction: column;
    /*flex-shrink decreases the size of decreases the size of item*/
}

#item3 {
    /*flex-grow: 2;*/
    /*we can fix the size of item using flex-basis*/
    
    flex-direction: column;
    /*so the size of this item decreased as I specified a smaller width*/
    /*when flex-direction is set to row, then flex basis will control width or otherwise column*/
}